# ignore cache file
torch.overfeat/imagenet/*

# ignore weight and data file
*.t7

# ignore log file
*.log

# ignore swp file
*.swp

# ignore design file in Vivado
hardware.VGGNet/fpga.vgg.16bit/vgg.16.bit.ip_user_files/*
hardware.VGGNet/fpga.vgg.16bit/vgg.16.bit.cache/*
hardware.VGGNet/fpga.vgg.16bit/vgg.16.bit.hw/*
hardware.VGGNet/fpga.vgg.16bit/vgg.16.bit.runs/*
hardware.VGGNet/fpga.vgg.16bit/vgg.16.bit.sim/*
hardware.VGGNet/fpga.vgg.16bit/.Xil/*
hardware.VGGNet/fpga.vgg.16bit/vgg.16.bit.srcs/sources_1/ip/*
hardware.VGGNet/sim.fc.16bit/sim/*
hardware.VGGNet/sim.fc.16bit/.git/*
hardware.VGGNet/sim.fc.16bit/.gitignore
hardware.VGGNet/sim.fc.16bit/cache/*
hardware.VGGNet/sim.fc.16bit/ip/*
hardware.VGGNet/sim.fc.16bit/test/*

# ignore object file
*.o
*.so
